
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

pre {
    background: #f4f4f4;
    padding: 0rem;
    margin: 0;
    border: 0.1px solid #ddd;
    overflow: auto;
    /*counter-reset: line-numbering;*/
}


.code-container {
    position: relative;
    background-color: #d4d7dd;
    padding: 2.5px;
    border-radius: 2.5px;
    box-shadow: 0 1px 1px rgba(184, 182, 182, 0.1);
    overflow: auto;
    max-width: 100%;
    max-height: 80vh;
}

code {
    font-family: "Courier New", Courier, monospace;
    background: #f4f4f4;
    padding: 0.1rem 0.1rem;
    border-radius: 3px;
    font-size: 0.9rem;
    position: relative;
    white-space: pre-wrap;
    word-break: break-all;
    padding-left: 0em;  /*espacio para los números de línea */
}
code::before {
    /*content: counter(line-numbering);
    counter-increment: line-numbering;*/
    display: block;
    text-align: right;
    width: 2.5em;
    position: absolute;
    left: 0;
    color: #888;
    border-right: 3px solid #555;
    padding-right: 0em;
}


.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #61dafb;
    color: #282c34;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.copy-button:hover {
    background-color: #21a1f1;
}

.line-numbers {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 5px;
    border-right: 1px solid #555;
    color: #888;
    pointer-events: none;
    text-align: right;
}

.line-numbers div {
    line-height: 1.5;
}


.compatible h4 {
    color: #1d7e05;
}

.incompatible h4 {
    color: #ee1515;
}


/* Personaliza los colores para Kotlin */
.hljs-keyword { color: #c5a5c5; }
.hljs-function { color: #79b6f2; }
.hljs-string { color: #74a84e; }
.hljs-comment { color: #5c6370; }
.hljs-operator { color: #56b6c2; }
.hljs-punctuation { color: #98b1df; }