body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
header {
    background-color: #4285f4;
    color: white;
    padding: 1rem;
    text-align: start;
}
.container {
    display: flex;
    justify-content: center;
}
nav {
    top: 0;
    position: sticky;
    width: 250px;
    height: 100vh;
    background: white;
    padding: 20px;
    border-right: 5px solid #4285f4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
nav ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
nav ul li a {
    color: #4285f4;
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
.content {
    margin: 20px;
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-left: 20px;
}
h2, h3 {
    color: #4285f4;
}
h1 {
    margin-left: 1cm;
    font-size: 40px;
    margin-bottom: 10px;
}
a {
    color: #4285f4;
}
footer {
    text-align: center;
    padding: 1rem;
    background: #4285f4;
    color: white;
}



/*body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}*/

.code-container {
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-width: 90%;
    max-height: 80vh;
}

pre {
    margin: 0;
    overflow: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #f8f8f2;
}

/* Personaliza los colores para Kotlin */
.hljs-keyword { color: #c5a5c5; }
.hljs-function { color: #79b6f2; }
.hljs-string { color: #98c379; }
.hljs-comment { color: #5c6370; }
.hljs-operator { color: #56b6c2; }
.hljs-punctuation { color: #abb2bf; }
