body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.code-container {
    position: relative;
    background-color: #282c34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: auto;
    max-width: 90%;
    max-height: 80vh;
}

.copy-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #61dafb;
    color: #282c34;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}

.copy-button:hover {
    background-color: #21a1f1;
}

pre {
    margin: 0;
    overflow: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: #f8f8f2;
    position: relative;
    padding-left: 3.8em; /* espacio para los números de línea */
}

.line-numbers {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 10px;
    border-right: 1px solid #555;
    color: #888;
    pointer-events: none;
    text-align: right;
}

.line-numbers div {
    line-height: 1.5;
}

/* Personaliza los colores para Kotlin */
.hljs-keyword { color: #c5a5c5; }
.hljs-function { color: #79b6f2; }
.hljs-string { color: #98c379; }
.hljs-comment { color: #5c6370; }
.hljs-operator { color: #56b6c2; }
.hljs-punctuation { color: #abb2bf; }